@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sidebar{
  width: 17%;
}
.content{
  width: 83%;
}
.users{
  width:265px;
}
.chat{
  width: 750px;
}

.selected{
  color: #109CF1  ;
}
.incoming{
  background-color: #109CF1;
  color: white;
  border-radius: 2%;
  padding: 20px;
}
